*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: rgb(77, 74, 74);
}
.contener{
border:solid 14px yellowgreen);
max-width:1400px;
width:50%;


display: grid;
justify-content:center;
grid-template-columns: 150px 150px 150px 150px 150px;
grid-template-rows: 150px 150px 150px 150px 150px;

}

.item{
	background-image:cover;
grid-area: 1/1/6/7;
border:solid 4px red;

}
.item img {
	grid-row:2/5;
}

